@using RetreatSchedule.Util
@model IEnumerable<RetreatSchedule.Models.User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="~/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->

@{ var currentUser = Context.Session.Get<RetreatSchedule.Models.User>(Constants.SessionKeyUser); }
<div id="content" class="content">

    <span class="pull-right">
        <a asp-action="Create" class="btn btn-primary"> <i class="fa fa-plus"></i> Add New Admin User</a>
    </span>
    <h1 class="page-header"> Users <small>  </small></h1>

    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            </div>
            <h4 class="panel-title">Admin and Non Admin users</h4>
        </div>

        <div class="panel-body">
            <table id="users-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            Is Admin
                        </th>
                        @if (!(currentUser?.IsViewOnly ?? false))
                        {
                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @(string.IsNullOrWhiteSpace(item.AspId) ? "False" : "True")
                            </td>
                            @if (!(currentUser?.IsViewOnly ?? false))
                            {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts {
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        if ($('#users-table').length !== 0) {
            $('#users-table').DataTable();
        }
    </script>
}
